
<div class="signup center-block jumbotron">
  <form role="form">
  <h1>Signup</h1>
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" class="form-control" id="username" ng-model="user.username" placeholder="Username">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" ng-model="user.password" placeholder="Password">
  </div>
  <div class="form-group">
    <label for="extra">Extra</label>
    <input type="text" class="form-control" id="extra" ng-model="user.extra" placeholder="Extra Information">
  </div>
  <button type="submit" class="btn btn-default" ng-click="createUser()">Submit</button>
</form>
<a ui-sref="login()">Click here to Login</a>
</div>
